header {
    background-color: #F09E6C;
    border: 1px white solid;
    padding: 10%;
    text-align: center;
    width: 100%;
}
nav {
    background-color: papayawhip;
    border: 1px white solid;
    text-align: center;
    font color: red;
    float: none;
    width: 100%;
}

article {
    background-color: #E89C6C;
    border: 1px white solid;
    padding: 5%;
}

figure {
    background-color: #FFC675;
    border: 1px white solid;
    padding: 20%;
}

footer {
    background-color: #F09E6C;
    border: 1px white solid;
    padding: 20px;
    width: 100%;
}

div {
    background-color: peachpuff;
    border: 1px white solid;
    padding: 20%;
    text-align: center;
    width: 60%;
}

img {
    height: 220px;
    border: 1px solid white;
    
}
a:hover {
    background-color: gray;
}

#three_column {
    background-color: #FF957E;
    border: 1px white solid;
    padding: 1.5%;
    width: 100%;
}

#left {
    background-color: peachpuff;
    border: 3% white solid;
    padding: 5% 1em;
    float: left;
    width: 30%;
}
#center {
    background-color: peachpuff;
    border: 3% white solid;
    padding: 5% 1.1em;
    float: left;   
    width: 22%;
}
#right {
    background-color: peachpuff;
    border: 3% white solid;
    padding: 5% 1.1em;
    float: left;   
    width: 19%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}