* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #F09E6C;
    border: 1px white solid;
    padding: 10%;
    text-align: center;
    width: 100%;
}
nav {
    background-color: papayawhip;
    border: 1px white solid;
    text-align: center;
}
nav a {
    color: #F09E6C;
    display:inline-block;
    padding:.5em 1em;
    text-decoration:none;
}
nav a:hover {
    background-color: peachpuff;
}

footer {
    background-color: #F09E6C;
    border: 1px white solid;
    padding: 20px;
    width: 100%;
}

div {
    background-color: peachpuff;
    border: 1px white solid;
    margin: auto;
    text-align: center;
    max-width: 1200px;
}

img {
    width: 100%;
    border: 1px solid white;
}


#three_column {
    background-color: #FF957E;
    border: 1px white solid;
    padding: 1.5em;
    width: 100%;
}

.infopic {
    background-color: peachpuff;
    border: 3% white solid;
    padding: 5% 1em;
    float: left;
    width: 33.33%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
