body {
	background: #E5D3A9;
	font-family: Georgia;
	text-align: center;
}

#fancywalls {
	font-style: italic; 
}

#welcome {
	font-size: 35px;
	font-weight: bold;
}

#history {
	font-size: 20px;
}

#signature {
	font-size: 25px;
}

h1, p {
	color: white;
}

h1 {
	font-weight: bold;
	font-size: 75px;
}

img {
	width: 30%;
}

hr {
  width: 400px;
}